<div class="caja jumbotron fondoJbt animtad fadeIn fast">
  <h1>Contacteme</h1>
  <hr>
  <br>
  <div class="animated fadeIn fast row">
    <br>
    <div class="cajaSocial">
      <div class="row">
        <img class="iconoSocial" src="assets/social/link.png">
        <p class="social" >Linkedin : <a href="https://www.linkedin.com/in/jacobo-romero-jonathan/">Ir a linkeid</a></p>
      </div>
      <div class="row">
        <img class="iconoSocial" src="assets/social/wsp.png">
        <p class="social" >Whatsapp: +51 984-155-988</p>
      </div>
      <div class="row">
          <img class="iconoSocial" src="assets/social/correo.png">
          <p class="social" >Correo: jonathan.gjr@outlook.com</p>
        </div>
      <div class="row">
        <img class="iconoSocial" src="assets/social/fb.png">
        <p class="social" >Facebook: <a href="https://www.facebook.com/jonathan.jacoboromero">Jonathan Jacobo Romero</a></p>
      </div>
    </div>
  </div>
</div>
