<div class="caja jumbotron fondoJbt animtad fadeIn fast">
    <div class="animtad fadeIn" >
        <h1 class="display-4 bienvenida centro">< Jonathan Jacobo Romero /> </h1>
        <hr>
        <p class="lead descripcion centro">Desarrollador Web Front-End Junior</p>
        <hr class="my-4">
        <p class="sub-descripcion centro">Bienvenido a mi portafolio...!</p>
        <!-- <div class="centro" >
            <p class="lead">
              <a class="btn btn-outline-primary btn-lg" [routerLink]="['contacto']" role="button">Contacteme</a>
            </p>
            <button [routerLink]="['contacto']" >vas</button>
        </div> -->
    </div>
</div>