<h1 class="mproyectos">Mis proyectos</h1>
<div class="caja">
    <div class="card-columns final" >
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/01.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">AnimeApp</h5>
              <p class="card-text descProyecto">Aplicación sobre openings de anime enlazado con firebase</p>
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/firebase.png">
                <img class="icono" src="assets/tecnologias/ionic.png">
            </div>
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>
        </div>
        <div class="card">
            <img class="card-img-top" src="assets/img/02.png" alt="Card image cap">
            <hr>
            <div class="card-body">
              <h5 class="card-title tituloProyecto">Galeria-app</h5>
              <p class="card-text descProyecto">Aplicación de galeria de imagenes, con conexion a base de datos mongodb</p>          
            </div>
            <hr>
            <div class="iconos" >
                <p>Use esto</p>
                <img class="icono" src="assets/tecnologias/angular.png">
                <img class="icono" src="assets/tecnologias/javascript.png">
                <img class="icono" src="assets/tecnologias/mongodb.png">
                <img class="icono" src="assets/tecnologias/nodejs.png">
            </div>  
            <a class="btn btn-outline-primary btn-block" style="margin-bottom: 10px;" >Ver</a>      
        </div>
    </div>
</div>