<div class="caja jumbotron">
  <h1 class="display-4 animated fadeIn fast sobre-mi">Sobre mí</h1>
  <hr>
  <div class="animated fadeIn row animated fadeIn">
    <div class=" div1 col-lg-4 col-md-3 col-xs-12" >
      <img class="imgPerfil" src="assets/img/dekk.jpg" alt="">
    </div>
    <div class="col-lg-8 col-md-9 col-xs-12">
      <p class="contenido">Hola, mi primer trabajo como programador fue en el área de aplicaciones moviles
          donde use un framework llamado Ionic 3
      </p>      
    </div>
  </div>
</div>